<ngx-spinner  name="pageChange" bdColor = "rgba(83, 184, 72,0.8)" size = "medium" color = "#fff" type = "square-spin" [fullScreen] = "true"><svg class="nav-logo" width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M54.4639 6.10864V0.810913C42.8645 0.810913 33.4602 10.2984 33.4602 22.0018C33.4602 33.7046 42.8639 43.1933 54.4639 43.1933V37.895C46.6587 37.895 40.1836 32.167 38.9328 24.651H49.213V19.3532H38.9328C40.1836 11.8366 46.6587 6.10864 54.4639 6.10864Z" fill="white"/>
  <path d="M36.3773 43.2905L12.554 0.712524L6.91357 0.810913L30.932 43.3889L36.3773 43.2905Z" fill="white"/>
  <path d="M4.67752 0.712524L28.404 43.2905L25.5837 43.1933L1.95422 0.810913L4.67752 0.712524Z" fill="white"/>
  <path d="M85.9704 37.895L83.3446 43.1933H92.5339C99.0586 43.1933 104.349 37.8565 104.349 31.273C104.349 24.6889 99.0592 19.3532 92.5339 19.3532C88.9093 19.3532 85.9704 16.3881 85.9704 12.7312C85.9704 9.07375 88.9093 6.10925 92.5339 6.10925V0.810913C86.0091 0.810913 80.7194 6.14653 80.7194 12.7306C80.7194 19.3135 86.0085 24.651 92.5339 24.651C96.1585 24.651 99.098 27.6155 99.098 31.273C99.098 34.9299 96.1585 37.895 92.5339 37.895H85.9704Z" fill="white"/>
  <path d="M70.9752 37.895C75.3382 34.012 78.0936 28.3335 78.0936 22.0018C78.0936 10.2984 68.6898 0.810913 57.0898 0.810913V6.10864C65.7897 6.10864 72.8426 13.2238 72.8426 22.0018C72.8426 30.7792 65.7897 37.895 57.0898 37.895V43.1933L80.8168 42.9965L83.6358 37.601L70.9752 37.895Z" fill="white"/>
  <path d="M25.0313 18.6554L36.0855 0.810913H30.8346L22.5442 14.1942L25.0313 18.6554Z" fill="white"/>
  <path d="M14.2533 27.5782L4.58063 43.1934H9.83096L16.7403 32.04L14.2533 27.5782Z" fill="white"/>
</svg></ngx-spinner>
<ngx-spinner  name="pageInit" bdColor = "rgba(83, 184, 72,0.8)" size = "medium" color = "#fff" type = "square-spin" [fullScreen] = "true"><svg class="nav-logo" width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M54.4639 6.10864V0.810913C42.8645 0.810913 33.4602 10.2984 33.4602 22.0018C33.4602 33.7046 42.8639 43.1933 54.4639 43.1933V37.895C46.6587 37.895 40.1836 32.167 38.9328 24.651H49.213V19.3532H38.9328C40.1836 11.8366 46.6587 6.10864 54.4639 6.10864Z" fill="white"/>
  <path d="M36.3773 43.2905L12.554 0.712524L6.91357 0.810913L30.932 43.3889L36.3773 43.2905Z" fill="white"/>
  <path d="M4.67752 0.712524L28.404 43.2905L25.5837 43.1933L1.95422 0.810913L4.67752 0.712524Z" fill="white"/>
  <path d="M85.9704 37.895L83.3446 43.1933H92.5339C99.0586 43.1933 104.349 37.8565 104.349 31.273C104.349 24.6889 99.0592 19.3532 92.5339 19.3532C88.9093 19.3532 85.9704 16.3881 85.9704 12.7312C85.9704 9.07375 88.9093 6.10925 92.5339 6.10925V0.810913C86.0091 0.810913 80.7194 6.14653 80.7194 12.7306C80.7194 19.3135 86.0085 24.651 92.5339 24.651C96.1585 24.651 99.098 27.6155 99.098 31.273C99.098 34.9299 96.1585 37.895 92.5339 37.895H85.9704Z" fill="white"/>
  <path d="M70.9752 37.895C75.3382 34.012 78.0936 28.3335 78.0936 22.0018C78.0936 10.2984 68.6898 0.810913 57.0898 0.810913V6.10864C65.7897 6.10864 72.8426 13.2238 72.8426 22.0018C72.8426 30.7792 65.7897 37.895 57.0898 37.895V43.1933L80.8168 42.9965L83.6358 37.601L70.9752 37.895Z" fill="white"/>
  <path d="M25.0313 18.6554L36.0855 0.810913H30.8346L22.5442 14.1942L25.0313 18.6554Z" fill="white"/>
  <path d="M14.2533 27.5782L4.58063 43.1934H9.83096L16.7403 32.04L14.2533 27.5782Z" fill="white"/>
</svg></ngx-spinner>
<section class="header-title">
    <div class="container">
        <div class="title text-center">
            Blockchain Explorer!
        </div>
    </div>
</section>

<section class="">
    <div class="container">



        <div class="theme-card card">
            <div class="card-body">
                <div *ngIf="tableData!==undefined">
                    <div class="card-title color-black">
                        <h4>Details for Block #{{tableData.height}}</h4>
                        <p>
                          <span class="btn btn-link" title="Previous Block" (click)="block(tableData.height-1)"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black" width="24px" height="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/></svg></span>
                          <b>Hash:</b> {{tableData.blockId}}
                          <span matTooltip="copy to clip board"
                          matTooltipPosition="right" class="p-1 cursor-pointer" ngxClipboard [cbContent]="tableData.blockId" (cbOnSuccess)="copySuccess($event)"><i class="fa fa-copy"></i></span>
                          <span  class="btn btn-link" title="Next Block" (click)="block(tableData.height+1)"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/></svg></span>
                        </p>
                        <p class="text-danger" *ngIf="no">No Block Found!</p>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="card-title color-black font-weight-bold">
                                Summary
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-9 p-0">Version</div>
                                <div class="col-3 p-0 text-right">{{tableData.version}}</div>
                            </div>

                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-9 p-0">Difficulty</div>
                                <div class="col-3 p-0 text-right">{{tableData.difficulty}}</div>
                            </div>

                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-9 p-0">Number Of Transactions</div>
                                <div class="col-3 p-0 text-right">{{tableData.transactions.length}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-7 p-0">Output Total</div>
                                <div class="col-5 p-0 text-right">{{tableData.totalout}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-7 p-0">Block Reward</div>
                                <div class="col-5 p-0 text-right">{{tableData.blockReward}}</div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row  border-bottom mx-0 mb-3">
                                <div class="col-3 p-0">Nonce</div>
                                <div class="col-9 p-0 text-right">{{tableData.nonce}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-3 p-0">Size</div>
                                <div class="col-9 p-0 text-right">{{tableData.size}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-3 p-0">Bits</div>
                                <div class="col-9 p-0 text-right">{{tableData.bits}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-3 p-0">BlockTime</div>
                                <div class="col-9 p-0 text-right">{{tableData.blockTime}}</div>
                            </div>
                            <div class="row border-bottom mx-0 mb-3">
                                <div class="col-7 p-0">Transaction Count</div>
                                <div class="col-5 p-0 text-right">{{tableData.transactions.length}}</div>
                            </div>
                        </div>


                          <div class="col-12 mx-auto">
                            <mat-expansion-panel (opened)="panelOpenState = true"
                                               (closed)="panelOpenState = false">
                            <mat-expansion-panel-header >

                                <mat-panel-title>
                                  <h5 class=" mx-auto btn btn-link text-success">
                                   {{panelOpenState ? 'CLOSE' : 'SEE MORE'}}
                                  </h5>
                               </mat-panel-title>

                            </mat-expansion-panel-header>

                            <div>
                              <div class="row border-bottom mx-0 mb-3">
                                  <div class="col-3 p-0">Previous Block Hash</div>
                                  <div class="col-9 p-0 text-right">{{tableData.previousblockhash}}</div>
                              </div>

                              <div class="row border-bottom mx-0 mb-3">
                                  <div class="col-3 p-0">Next Block Hash</div>
                                  <div class="col-9 p-0 text-right">{{tableData.nextblockhash}}</div>
                              </div>

                              <div class="row border-bottom mx-0 mb-3">
                                  <div class="col-3 p-0">Chain Trust</div>
                                  <div class="col-9 p-0 text-right">{{tableData.chaintrust}}</div>
                              </div>

                              <div class="row border-bottom mx-0 mb-3">
                                  <div class="col-3 p-0">Block Trust</div>
                                  <div class="col-9 p-0 text-right">{{tableData.blocktrust}}</div>
                              </div>
                          </div>
                          </mat-expansion-panel>
                          </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
