<section class="header-title">
    <div class="container">
        <div class="title text-center">
            Blockchain Explorer!
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="theme-card card">
            <div class="card-body">
                <div *ngIf="tableData!==undefined">
                    <div class="card-title color-black">
                        <h4>Details for Block #{{tableData.height}}</h4>
                    </div>
                    <div class="row block-details">
                        <div class="col-lg-5">
                            <div class="card-title color-black">
                                Summary
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-9 p-0">Number Of Transactions</div>
                                <div class="col-3 p-0 text-right">{{tableData.transactions.length}}</div>
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-7 p-0">Output Total</div>
                                <div class="col-5 p-0 text-right">{{tableData.totalAmount}}</div>
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-7 p-0">Block Reward</div>
                                <div class="col-5 p-0 text-right">{{tableData.blockReward}}</div>
                            </div>
                        </div>
                        <div class="col-lg-5 offset-lg-2">
                            <div class="card-title color-black">
                                Hashes
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-3 p-0">Hash</div>
                                <div class="col-9 p-0">{{tableData.blockId}}</div>
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-3 p-0">BlockTime</div>
                                <div class="col-9 p-0 text-right">{{tableData.blockTime}}</div>
                            </div>
                            <div class="row item mx-0 mb-3">
                                <div class="col-7 p-0">Transaction Count</div>
                                <div class="col-5 p-0 text-right">{{tableData.transactions.length}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success m-1" title="Previous Block" (click)="block(tableData.height-1)"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
                        <button class="btn btn-success m-1" title="Next Block" (click)="block(tableData.height+1)"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                        <div class="text-danger" *ngIf="no">No Block Found!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>