.example-card.mat-card {
    box-shadow: none;
}
.example-card
{
  margin-bottom: 5%;
}
.mat-card-header {
    width: 100%;
    display: block;
}

.panel {
  background-color: #f4f4f4;
  border-radius: 4px;
  margin: 4px;
  min-height: 45px;
  padding: 0.8em;
  color: #53b848;
}
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PanelDetails,.PanelDetailsRight{
  animation-duration: all 4s;
}
.tx-item-footer-additional-box {
  font-size: 16px;
  line-height: 30px;
  background:linear-gradient(to right, #53b848 0%, #56B4D3  51%, #5ea874  100%);
  display: inline-block;
  padding-left: 25px;
  padding-right: 10px;
  position: relative;
  margin-left: 30px;
  color:#fff;
}
.tx-item-footer-additional-box::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 15px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


.tx-item {
  font-size: 14px;
  margin-bottom: 50px;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.tx-item-summary {
  background: #f3f4f7;
}


