<section class="">
    <div class="container">
        <div class="theme-card card">
            <div class="card-body">
                <div id="TransactionsDiv" *ngIf="cardData && cardData.length">
                    <h4>Transactions ({{cardData.length}})</h4>

                    <div class="example-card" dynamicHeight="true" *ngFor="let item of cardData;let i=index">
                         <div id="transcationId" class="mb-3">
                            <div class="row">
                                <div class="col-md-10 mb-md-0 mb-3">
                                    <span class="btn btn-link color-black"  (click)="handleCollaspe(i)">
                                        <i class="fa" aria-hidden="true" [ngClass]="toggle[i] ? 'fa-minus': 'fa-plus'" ></i>
                                    </span>
                                    <a (click)="openTransactionDetail(item)"  class="ng-binding color-link" style="color:#10ADE4;cursor: pointer;">{{item.txId}}</a>
                                    <span matTooltip="copy to clip board"
                                    matTooltipPosition="right" class="p-1 cursor-pointer" ngxClipboard [cbContent]="item.txId" (cbOnSuccess)="copySuccess($event)"><i class="fa fa-copy"></i></span>

                                </div>
                                <div class="col-md-2 mb-md-0 mb-3">
                                    {{ item.time}}
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-6">
                                <div *ngIf="item.vIn">
                                    <div *ngIf="item.vIn">
                                        <div class="" *ngFor="let input of item.vIn" >
                                             <div class="transaction-vin-vout panel panel-default mb-2">
                                                <div class="pull-right btc-value ng-binding" *ngIf="input.value" data-ng-class="{'text-danger': $root.currentAddr == vin.addr}">
                                                    1 Xels
                                                </div>
                                                <div class="">
                                                    <span class="ng-binding ng-hide">
                                                        {{(input.txid)?input.txid:'N/A'}}
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="PanelDetails" [hidden]="!toggle[i]">
                                                <div>
                                                    <strong>Confirmations: </strong>
                                                </div>
                                                <div>
                                                    <strong>ScriptSig : </strong><span class="text-muted" *ngIf="input && input.scriptSig && input.scriptSig.hex">{{(input.scriptSig.hex.length < 10)?input.hex.scriptSig: input.scriptSig.hex.substring(0,50)}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div *ngIf="item.vOut">
                                    <div class="" *ngFor="let output of item.vOut" >
                                         <div class="transaction-vin-vout panel panel-default mb-2">
                                            <div class="pull-right btc-value ng-binding" data-ng-class="{'text-danger': $root.currentAddr == vin.addr}" >
                                                <span >
                                                    {{output.value}} XELS
                                                </span>
                                            </div>
                                            <div class="ellipsis">
                                                <span *ngIf="output.scriptPubKey.addresses" class="ng-binding ng-hide">
                                                    {{(output.scriptPubKey.addresses)?output.scriptPubKey.addresses[0]:'N/A'}}
                                                    <!-- <a href="transaction/{{output.address}}"  class="ng-binding">
                                                        {{output.address}}
                                                    </a> -->
                                                </span>
                                            </div>
                                        </div>
                                        <div class="PanelDetailsRight" [hidden]="!toggle[i]">
                                            <div>
                                                <strong> Type: </strong><br>
                                            </div>
                                            <div>
                                                <strong> ScriptPubKey: </strong>
                                                <span *ngIf="output.scriptPubKey">{{output.scriptPubKey.hex}}</span>
                                            </div>
                                        </div>
                                        <div class="PanelDetailsRight" [hidden]="!this.show">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <mat-divider></mat-divider> -->
                        <div class="text-right">
                            <span class="tx-item-footer-additional-box">
                              {{blockData.confirmations}} Confirmations
                                          </span>
                            <span class="tx-item-footer-additional-box">
                              {{item.totalVOut}} Xels
                                          </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

