
.table#addressGrid
{
  /* margin:1%; */
  font-size: 12px;
  background-color: ghostwhite;
}
.table#addressGrid thead th
{
  padding-right: 14% !important;
  text-align: center;
  background-color: #77cc6dfa;
  color: #fff;
}
