    <tabs-m>
        <ngx-tab tabTitle="Blocks ">

        </ngx-tab>
        <ngx-tab tabTitle="List">

        </ngx-tab>
        <ngx-tab tabTitle="Larget Wallets">
           <!-- <app-wallets></app-wallets>  -->
        </ngx-tab>
        <ngx-tab tabTitle="Overview">
           nothing
        </ngx-tab>
        <ngx-tab tabTitle="Extraction">
          <app-extraction></app-extraction>
                <!-- <app-chart></app-chart> -->
        </ngx-tab>
        <ngx-tab tabTitle="Network">
            <app-extraction></app-extraction>
        </ngx-tab>
         <ngx-tab tabTitle="Market">
                <!-- <app-transactioncard></app-transactioncard> -->
        </ngx-tab>
        <ngx-tab tabTitle="About Stratis">
            <div class="col-md-8" style="float:left;">

            </div>
            <div class="col-md-4" style="float:right;">
              <!-- <app-chart></app-chart> -->
            </div>
        </ngx-tab>
    </tabs-m>
    <ng-template dynamic-tabs></ng-template>
