<!-- <div class="col-sm-12" style="padding-bottom: 5%;">
  <input type="text" class = "form-control" id="searchBox" style="width : 200px; float:right; margin-right:2%; clear: both;border-radius:20px" [(ngModel)]="searchText" (keyup.enter)='searchOutput($event.target.value)' placeholder="Enter search string">
  <span id="searchclear" class="close-icon" (click)="clearSerachVal()" ></span>
</div> -->


<section class="home-section">

    <div class="container">
        <div class="row">
            <div class="table-search theme-form col-md-3 offset-md-9">
                <div class="input-group mb-3">
                    <input type="text" id="searchBox" class="form-control" placeholder="Search" [(ngModel)]="searchText" (keyup.enter)='searchOutput($event.target.value)'>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="clearSerachVal()">
                        <i class="fa fa-times-circle"></i>
                    </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="theme-table mb-4">
                    <div class="d-flex justify-content-center" *ngIf="dataProcess">
                        <div class="spinner-border text-white" style="width: 10rem; height: 10rem;" role="status"></div>
                    </div>
                    <div *ngIf="!dataProcess">
                        <ngx-datatable *ngIf="dataFound" #table class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true" [limit]="10" [count]="page.totalElements" [rows]='rows' [offset]="page.offset" [selectionType]="'multi'"
                        (page)="pageCallback($event)">
                        <ngx-datatable-column name="Block Id" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Height" [sortable]="true">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a (click)=blockHeightDetails(row.height)> {{row.height}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Block Time" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="BlockReward" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Total Amount" [sortable]="true"></ngx-datatable-column>

                        <!-- Column Templates -->
                        <!-- <ngx-datatable-column name="Expanded" width="80">
                         <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                           <a href="#">hhh</a>
                         </ng-template>
                       </ngx-datatable-column> -->
                    </ngx-datatable>
                    <ngx-datatable *ngIf="notFound" class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
                        <ngx-datatable-column name="Block Id"></ngx-datatable-column>
                        <ngx-datatable-column name="Height">
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Block Time"></ngx-datatable-column>
                        <ngx-datatable-column name="BlockReward"></ngx-datatable-column>
                        <ngx-datatable-column name="Total Amount"></ngx-datatable-column>
                    </ngx-datatable>

                    <ngx-datatable *ngIf="searchFound" class='material' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [limit]="10" [rows]='rows' [offset]="searchPage.offset" [rowHeight]="'auto'">
                        <ngx-datatable-column name="Block Id" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Height" [sortable]="true">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <a (click)=blockHeightDetails(row)> {{row.height}}</a>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Block Time" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="BlockReward" [sortable]="true"></ngx-datatable-column>
                        <ngx-datatable-column name="Total Amount" [sortable]="true"></ngx-datatable-column>
                    </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
