
<ngx-spinner *ngIf="dataProcess" name="transactionsLoader" bdColor = "rgba(83, 184, 72,0.8)" size = "medium" color = "#fff" type = "square-spin" [fullScreen] = "true"><svg class="nav-logo" width="106" height="44" viewBox="0 0 106 44" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M54.4639 6.10864V0.810913C42.8645 0.810913 33.4602 10.2984 33.4602 22.0018C33.4602 33.7046 42.8639 43.1933 54.4639 43.1933V37.895C46.6587 37.895 40.1836 32.167 38.9328 24.651H49.213V19.3532H38.9328C40.1836 11.8366 46.6587 6.10864 54.4639 6.10864Z" fill="white"/>
  <path d="M36.3773 43.2905L12.554 0.712524L6.91357 0.810913L30.932 43.3889L36.3773 43.2905Z" fill="white"/>
  <path d="M4.67752 0.712524L28.404 43.2905L25.5837 43.1933L1.95422 0.810913L4.67752 0.712524Z" fill="white"/>
  <path d="M85.9704 37.895L83.3446 43.1933H92.5339C99.0586 43.1933 104.349 37.8565 104.349 31.273C104.349 24.6889 99.0592 19.3532 92.5339 19.3532C88.9093 19.3532 85.9704 16.3881 85.9704 12.7312C85.9704 9.07375 88.9093 6.10925 92.5339 6.10925V0.810913C86.0091 0.810913 80.7194 6.14653 80.7194 12.7306C80.7194 19.3135 86.0085 24.651 92.5339 24.651C96.1585 24.651 99.098 27.6155 99.098 31.273C99.098 34.9299 96.1585 37.895 92.5339 37.895H85.9704Z" fill="white"/>
  <path d="M70.9752 37.895C75.3382 34.012 78.0936 28.3335 78.0936 22.0018C78.0936 10.2984 68.6898 0.810913 57.0898 0.810913V6.10864C65.7897 6.10864 72.8426 13.2238 72.8426 22.0018C72.8426 30.7792 65.7897 37.895 57.0898 37.895V43.1933L80.8168 42.9965L83.6358 37.601L70.9752 37.895Z" fill="white"/>
  <path d="M25.0313 18.6554L36.0855 0.810913H30.8346L22.5442 14.1942L25.0313 18.6554Z" fill="white"/>
  <path d="M14.2533 27.5782L4.58063 43.1934H9.83096L16.7403 32.04L14.2533 27.5782Z" fill="white"/>
</svg></ngx-spinner>
<section class="header-title">
  <div class="container">
      <div class="title text-center">
        Transactions
      </div>
  </div>
</section>
<!-- <div class="col-sm-12" style="padding-bottom: 5%;">
  <input type="text" style="float:right; margin-right:2%; clear: both;border-radius: 18px;" [(ngModel)]="searchText" (keyup.enter)='searchTransactions($event.target.value)' placeholder="Enter search string">
  <span id="searchclear" class="close-icon" (click)="clearSerachVal()" ></span>
</div> -->


<section class="home-section">
    <div class="container">
        <div class="row">
            <div class="table-search theme-form col-md-3 offset-md-9">
                <div class="input-group mb-3">
                    <input type="text" id="searchBox" class="form-control" placeholder="Search"  [(ngModel)]="searchText" (keyup.enter)='searchTransactions()'>
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" (click)="searchTransactions()">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="theme-table mb-4">
                    <div  *ngIf="dataProcess==false">
                        <ngx-datatable *ngIf="dataFound==true"
                        #table
                        [style.width]="'1000px'"
                        class='material striped'
                        [rowHeight]="36"
                        [columnMode]="'force'"
                        [headerHeight]="45"
                        [footerHeight]="45"
                        [limit]="10"
                        [rows]='rowTrans'
                        [selectionType]="'multi'"
                        [externalPaging]="true"
                        [count]="page.totalElements"
                        [offset]="page.offset"
                        [selectionType]="'multi'"
                        [messages]="'No data found!'"
                        (page)="transactionPage($event)"
                        >
                        <ngx-datatable-column name="Transaction Id" title="{{txid}}" [width]="300">
                            <!-- <a (click)= openDialog(rowTrans)> {{rowTrans.txId}}</a> -->
                          <!-- <a (click)="openDialog(rowTrans)" class="ng-binding color-link" style="color:#10ADE4;cursor: pointer;">{{rowTrans.txId}}</a> -->
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Inputs" title="" [width]="80"></ngx-datatable-column>
                        <ngx-datatable-column name="Outputs" [width]="100"> {{rowTrans.outputs}}</ngx-datatable-column>
                        <ngx-datatable-column name="Time" [width]="80"></ngx-datatable-column>
                        <ngx-datatable-column name="Details" [width]="10">
                            <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                                <button class="btn "  matTooltip="transactions details"
                                matTooltipPosition="right"
                                aria-label="button that show transactions details modal" type="button" (click)="openDialogAddress(row)">
                                  <i class="fa fa-eye"></i>
                                </button>
                            </ng-template>

                        </ngx-datatable-column>
                    </ngx-datatable>

                    <ngx-datatable *ngIf="dataFound==false" class='material striped'
                        [rowHeight]="36"
                        [columnMode]="'force'"
                        [headerHeight]="45"
                        [footerHeight]="45">
                        <ngx-datatable-column name="Block Id"></ngx-datatable-column>
                        <ngx-datatable-column name="Height"></ngx-datatable-column>
                        <ngx-datatable-column name="Block Time"></ngx-datatable-column>
                        <ngx-datatable-column name="BlockReward"></ngx-datatable-column>
                        <ngx-datatable-column name="Total Amount"></ngx-datatable-column>
                    </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




