<div class="col-xs-12">
    <div class="page-header">
       <div class="pull-right hidden-xs">
          <iframe width="400" height="225" src="//www.youtube.com/embed/tCZzyEKnUoM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
       </div>
       <h1>Chainz - FAQ</h1>
    </div>
    <p><i>Frequently Asked Questions about our explorers and service.</i></p>
    <p><br>This site provides <a href="https://en.bitcoin.it/wiki/Block_chain">blockchain</a> explorers for several <a href="http://en.wikipedia.org/wiki/Cryptocurrency">crypto-currencies</a>.<br>
    We do not provide any currency exchange, wallet or money services. We only present public blockchain data.</p>
    <p>If you do not find your answer here, feel free contact us on <a href="https://bitcointalk.org/index.php?topic=571254">bitcointalk</a>, <a href="https://cryptoid.uservoice.com/">uservoice</a>, <a href="https://twitter.com/cryptoID_info">twitter</a>
    or just fire a mail to contact "at" cryptoid.info</p>
    <p>If you do not agree with our <a href="/terms.dws">Terms</a>, promptly exit this page without accessing or using any of the services.</p>
 </div>