<mat-dialog-content class="mat-typography">
    <section class="">
        <div class="container">
            <div class="theme-card card">
                <div class="card-body">
                    <div class="card-title color-black">
                        <h2>Transactions</h2>
                    </div>
                    <div class="row block-details">
                        <div class="col-12">
                            <div class=" item mx-0 mb-3">
                                <div class="">{{transDetail.txId}}</div>
                            </div>
                            <div class=" item mx-0 mb-3">
                                <div class="" *ngFor="let in of transDetail.vIn; let i=index">
                                    {{(in.scriptPubKey)?in.scriptPubKey.addresses[0]:'Coinbase'}} {{(in.value)?in.value:''}}
                                </div>
                            </div>
                            <div class=" item mx-0 mb-3">
                                <div class="" *ngFor="let out of transDetail.vOut;let i=index">
                                    {{(out.scriptPubKey.addresses)?out.scriptPubKey.addresses[0]:'N/A'}} {{(out.value)?out.value:''}}
                            </div>
                        </div>
                        <div class="card-title color-black">
                            Summary
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">Inputs</div>
                            <div class="col-md-9 p-0 text-right">
                                <div class="" *ngFor="let in of transDetail.vIn; let i=index">
                                    {{(in.scriptPubKey)?in.scriptPubKey.addresses[0]:'N/A'}} {{(in.value)?in.value:''}}
                                </div>
                            </div>
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">Outputs</div>
                            <div class="col-md-9 p-0 text-right">
                                <div *ngFor="let out of transDetail.vOut;let i=index">
                                    {{(out.scriptPubKey.addresses)?out.scriptPubKey.addresses[0]:''}} {{out.value}}
                                </div>
                            </div>
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">Received Time</div>
                            <div class="col-md-9 p-0 text-right">{{transDetail.time}}</div>
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">Total Out</div>
                            <div class="col-md-9 p-0 text-right">{{transDetail.totalVOut}}</div>
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">Reward From Block</div>
                            <div class="col-md-9 p-0 text-right"><a href="/blocks/{{blockDetails.blockId}}">{{blockDetails.height}}</a></div>
                        </div>
                        <div class="row item mx-0 mb-3">
                            <div class="col-md-3 p-0">BlockReward</div>
                            <div class="col-md-9 p-0 text-right">{{blockDetails.blockReward}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button class="btn btn-success mr-3" mat-button mat-dialog-close>Close</button>
    <button class="btn btn-success" mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>


