<section class="">
    <div class="container">
        <div class="theme-card card">
            <div class="card-body">
                <div class="card-title color-black">
                    <h2>Transactions Value</h2>
                </div>
                <div class="row block-details"></div>
                    <div class="col-12">
                        <div class="card-title color-black">
                            Transaction Id
                        </div>
                        <div class=" item mb-3 p-2">
                            {{transDetail.transactionId}} <span matTooltip="copy to clip board"
                            matTooltipPosition="right" class="p-1 cursor-pointer" ngxClipboard [cbContent]="transDetail.transactionId" (cbOnSuccess)="copySuccess($event)"><i class="fa fa-copy"></i></span>
                        </div>

                        <div class=" item mx-0 mb-3">
                            <table class="table" id="addressGrid"  >
                                <thead>
                                <tr>
                                    <th>Vout</th>
                                    <th>Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let v of transDetail.vOut">
                                    <td> {{((v.scriptPubKey.addresses)?v.scriptPubKey.addresses[0]:'N/A')}}  </td>
                                    <td> {{ (v.value)?v.value:'N/A' }}  </td>
                                  </tr>
                                </tbody>
                                <tfoot>
                                <tr>

                                </tr>
                                </tfoot>
                              </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<mat-dialog-actions align="end">
    <button class="btn btn-grad" mat-button [mat-dialog-close]="true" cdkFocusInitial>close</button>
</mat-dialog-actions>


