.section-footer {
    background-image: url(../../../assets/image/footer-bg.svg);
    background-position: center top;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    padding-top: 100px;
}
.section-footer, footer,
.section-footer a, footer a
{
    color: #FFFFFF;
}
.footer-logo {
    margin-bottom: 20px;
}
.section-footer .link-title {
    font-family: 'Montserrat-Bold';
    margin-bottom: 20px;
    margin-top: 24px;
    text-transform: uppercase;
}
.contact-info .contact-info-item .fa {
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #53B848;
    height: 25px;
    line-height: 25px;
    width: 25px;
}
.contact-info .contact-info-item span {
    margin: 0 5px;
}
.contact-info .contact-info-item {
    margin-bottom: 5px;
}
footer {
    padding: 40px 0;
    background: #419B38;
}
.list-inline-item {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.list-inline-item:hover {
    border-color: #fff;
}
footer ul {
    margin-bottom: 0;
}
/* ==============
   Media Query 
===============*/
@media only screen and (max-width: 575px)  {
    .section-footer {
        background-position: center bottom;
        background-size: cover;
        text-align: center;
    }
    footer {
        text-align: center;
    }
}