.table
{
  width: 90%;
  /* width: 50%; */
  font-size: 13px;
  margin: 2%;
}
.table #transactionTable
{
}
.table thead th{
  text-align: center;
  background-color: #77cc6dfa;
  color: #fff;
}
.table #transactionTable tbody tr td{
  text-align: center;
}
/* .table tbody tr td #app_address
{
  font-size: 12px;
  margin:1%;
} */

