nav {
    /*background-color: #53B848;*/
    padding-top: 0;
}
nav .container {
    background-color: #419B38;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.nav-logo {
    height: 36px;
    margin: 12px 0 10px;
}
nav ul.navbar-nav li.nav-item {
}
nav ul.navbar-nav li.nav-item a.nav-link {
    border: 1px solid transparent;
    border-radius: 25px;
    color: #FFFFFF;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
}
nav ul.navbar-nav li.nav-item a.nav-link.active,
nav ul.navbar-nav li.nav-item a.nav-link:active,
nav ul.navbar-nav li.nav-item a.nav-link:hover,
nav ul.navbar-nav li.nav-item a.nav-link:focus
{
    border-color: #fff;
}
/* ==============
   Media Query
===============*/
@media only screen and (max-width: 991px)  {
    nav .container {
        padding: 0 20px 0 10px;
    }
    .navbar-light .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-light .navbar-toggler {
        border-color: rgba(255, 255, 255, 0.1);
    }
}
