<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container">
      <div class="col-md-3 navbar-header">

          <a class="navbar-brand" href="/"><img src="https://www.xels.io/assets/images/logo.png" style="height:18px;"/></a>
      </div>
      <div class="col-md-7 navbar-expand">
          <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/">Blocks</a>
            <a class="nav-item nav-link" routerLink="/transactions">Transactions</a>
            <a class="nav-item nav-link" routerLink="/about" >About</a>
            <a class="nav-item nav-link" routerLink="/contact" >Contact</a>
            <a class="nav-item nav-link" href="https://www.xels.io/" >Xels.IO</a>
           <!-- <a class="nav-item nav-link" href="#">Tour</a> -->
          </div>
        </div>
        <!-- <div class="navbar-expand ml-auto navbar-nav">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/beeman" target="_blank">
              <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/beeman_nl" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://medium.com/@beeman" target="_blank">
              <i class="fa fa-medium"></i>
            </a>
          </div>
        </div> -->

    </div>

  </nav>
